{% extends 'base.html' %}

{% block content %}


<div class="fb-edit-form-wrapper">

<h2 style="text-align:center;">Редагування заявки</h2>

<form method="post">
    {% csrf_token %}

    <label class="fb-edit-label">📌 Назва заявки</label>
    <input type="text" name="title" value="{{ req.title }}" class="fb-edit-input">

    <label class="fb-edit-label">📝 Опис заявки</label>
    <textarea name="description" class="fb-edit-textarea">{{ req.description }}</textarea>

    <label class="fb-edit-label">💰 Бюджет (грн)</label>
    <input type="number" name="budget" value="{{ req.budget }}" class="fb-edit-input">

    <button type="submit" class="fb-edit-button">Зберегти зміни</button>
</form>

</div>

{% endblock %}