{% extends 'base.html' %}

{% block content %}

<div class="fb-auth-wrapper">
    <h1>Реєстрація у FinoBoard</h1>

    <p class="fb-subtitle">
        Створіть акаунт, щоб долучитися до цифрової платформи громади
    </p>

    <div class="fb-auth-hint">

        {% if error %}
        <div style="color:#f87171;text-align:center;margin-bottom:15px;">
            {{ error }}
        </div>
        {% endif %}

        🧾 Реєстрація займає менше хвилини.  
        Після створення акаунту ви зможете подавати звернення, брати участь у голосуванні за проєкти та впливати на розвиток громади.
    </div>

    <form method="post" class="fb-form">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Логін" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password1" placeholder="Пароль" required>
        <input type="password" name="password2" placeholder="Підтвердіть пароль" required>

        <button class="fb-btn">Зареєструватися</button>
    </form>

    <div class="fb-extra">
        Вже маєте акаунт? 
        <a href="{% url 'login' %}">Увійти</a>
    </div>
</div>

{% endblock %}